 * {
            padding: 0px;
            margin: 0px;
        }
        body {
            background-color: #008cba;
            font: 18px/150% arail,sans-serif;
            color: #555;
        }
        .container {
            position: absolute;
            top: 35px;
            left: 35%;
            margin-left: -250px;
            height: 400px;
            width:970px;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }

            .container h2 {
                margin: 40px auto 20px;
                font-size: 200%;
                text-align: center;
                font-family: Georgia;
            }
        .button {
            background-color: #008cba;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            border-radius: 12px;
            position:absolute;
            left:480px;
            top:360px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .blue {
            background-color: white;
            color: black;
            border: 2px solid #008cba;
        }

            .blue:hover {
                background-color: #008cba;
                color: white;
            }
        #name {
            height: 30px;
            width: 400px;
            margin: auto 10px;
            margin-left: 30px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            padding: 3px;
            font-size: 15px;
            float: left;
            color: #888;
        }
        #number {
            height: 30px;
            width: 400px;
            margin: auto 10px;
            margin-left: 30px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            padding: 3px;
            font-size: 15px;
            float: left;
            color: #888;
        }
        #secret {
            height: 30px;
            width: 400px;
            margin: auto 10px;
            margin-left: 30px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            padding: 3px;
            font-size: 15px;
            float: left;
            color: #888;
        }
        #male {
            margin-left: 30px;
        }